.title {
  font-family: 'Great Vibes', cursive;
  position: absolute;
  background: transparent;
  font-size: 70px;
  width: 1000px;
  text-align: center;
  height: 0;
  color: #3f00ff;
}

.drum-heading {
  font-family: Helvetica;
  font-size: 16px;
  color: blue;
  position: absolute;
  top: 200px;
  left: 65px;

}

.bass-heading {
  font-family: Helvetica;
  font-size: 16px;
  color: blue;
  position: absolute;
  top: 200px;
  left: 486px;

}

.keys-heading {
  font-family: Helvetica;
  font-size: 16px;
  color: blue;
  position: absolute;
  top: 200px;
  left: 839px;
}

.controls {
  position: relative;
  bottom: 240px;
  left: 35px;
}

.controls h2{
  font-family: Helvetica;
  font-size: 16px;
  color: blue;
}

.slider {
  -webkit-appearance: none;
    appearance: none;
    width: 125px;
    height: 15px;
    background-color: yellow;
    border: 5px solid blue;
    outline: none;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 15px;
    background-color: green;
    cursor: pointer;
}

.stop {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  left: 360px;
  bottom: 4px;
  font-family: Helvetica;
  font-size: 16px;
  color: blue;
  background-color: yellow;
  border: 5px solid blue;
  font-weight: 900;
  outline: none;
}

.stop:active {
  background-color: green;
}
